<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <h2>This is a canvas page!</h2>
      <h3>Contacts</h3>
      <% @contacts.each do |c| %>
         <%= c.Name %><br>
      <% end %>
    </div>
  </div>
</div>
